@import 'scroll/fullPageScrollPureJS';
@import 'fix-logo/fix-logo';
@import 'layout';
@import 'first-slide/first-slide';
@import 'responsive/resp';
@import 'scroll/dotoverride';
@import 'header';
@import 'animations';

section{
  padding-top:60px;
}
body{
  font-family:'gotham-book', sans-serif!important;
}
.dark-bg{
  background-color:#4D4D4D;
}
.manhattan-bg{
  background-color:#f5c19a;
}
.grey-bg{
  background-color:#CCCCCC;
}
.manhattan-color{
  color:#f5c19a;
}
.manhattan-txt-bg{
  color:#FFFFFF;
  background-color:#f5c19a;
}
.king-wrapper{
  width:100%;
  max-width:80%;
  margin: 0 auto;
  font-size:50px;
  text-transform:uppercase;
  .king-bold{
    font-family:"gotham-ultra", sans-serif;
    font-size:1.2em;
  }
  .king-regular{
    font-family:"gotham-light", sans-serif;
    font-size:1.2em;
  }
}
.graph-text{
  font-family: "gotham-ultra", sans-serif;
  font-size:1rem;
}

.image-graph{
  display:block;
  width:80%;
}

.big-headline{
  padding-top: 100px;
}

.format-img{
  display:block;
  max-height:60vh;
}
.format-main-title{
  padding:80px 0 30px 0;
  text-align:center;
  font-size:1.7rem;
  color:#FFFFFF;
}
.format-title{
  text-align:center;
  font-family: 'gotham-medium', sans-serif;
  margin-bottom:20px;
}
.format-redirect{
  font-family:"gotham-medium", sans-serif!important;
  text-align:center;
  margin-top:20px;
  a{
    color:#000000;
    text-transform:uppercase;
    &:hover{
      color:#000000;
    }
  }
}


.tech-title{
  text-align:center;
  .subtitle{
    color:#f5c19a;
  }
}
.tech-detail{
  padding:50px 0 0 0;
}

.tech-slide{
  .adpreview{
    padding:80px;
  }
  .image-center{
    padding:80px;
  }
}
.tech-desc{
  text-align:left;
  margin:30px 0 0 0;
}
@media only screen and (max-width: 767px) {
  .tech-desc{
    font-size:0.8rem;
  }
  .tech-bullet-title{
    margin:15px 0!important;
  }
  .tech-detail{
    padding:10px 0 0 0;
  }
}
.tech-bullet{
  text-transform:uppercase;
  background-color:#000000;
  padding:5px 10px;
  color:#FFFFFF;
  display:inline-block;
  z-index:2;
  position:relative;
  box-shadow:6px 6px 0px #f5c19a;
}
.tech-bullet-title{
  margin:30px 0;
}

.bullet-requirement{
  margin:10px 0;
}
.partner-buttons{
  transition-duration:0.3s;
  &:hover{
    background-color:#f3b98c;
  }
}
.banner-title{
  font-size:2.2rem;
  font-family:"gotham-ultra", sans-serif;
  text-transform:uppercase;
  width:100%;
  text-align:center;
}
.preview-wrapper{
  width:17%;
}
.preview-image{
  margin-top:30px;
  display:block;
  width:100%;
}

.image-container{
  .preview-image{
    max-width:34%;
    margin:0 auto;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.5);
  }
}
.preview-image{
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.5);
}
.desc-wrapper{
  width:100%;
  max-width:80%;
  margin:0 auto;
}

p.format-desc{
  font-size:1.1rem;
  margin:0 0 20px 0!important;
}
.format-demo{
  color:#000000;
  font-family:"gotham-ultra", sans-serif;
  font-size:1.5rem;
  transition-duration:0.3s;
  &:hover{
    color:#f5c19a;
    text-decoration:none;
  }
}
.chart-text{
  position:absolute;
  bottom:0;
  transform:rotate(-90deg);
  transform-origin:bottom left;
  text-transform:uppercase;
  font-family:"gotham-thin", sans-serif;
}
.barchart{
  box-sizing:content-box;
  margin:0 10px;
  padding:0 0 0 25px;
  position:relative;
  width:80px;
}
.barchart-bar{
  font-family:"gotham-ultra", sans-serif;
  color:#FFFFFF;
  text-align:center;
  height:7%;
  transition-delay:800ms;
  transition-duration:2.5s;
  &.manhattan-bg{
    border-top:5px solid #dcab86;
  }
  &.grey-bg{
    border-top:5px solid #adadad;
  }
  &.dark-bg{
    border-top:5px solid #000000;
  }
}
.visible{
  .barchart-bar{
    transition-delay:100ms;
    height:100%;
  }
}
.chart-title{
  font-size:15px;
}
.barchart-wrapper{
  height:350px;
}
.correct-mark{
  font-size:15px;
}
.custom-table.table td{
  border:1px solid #f3f2f2;
}
.brand-image{
  height: 60px;
  width:auto;
  margin:20px 0;
}
.bullet-parag-wrapper{
  width:80%;
  margin:0 auto;
  font-size:13px;
}
.bullet-title{
  font-family:"gotham-medium", sans-serif;
  font-size:2em;
  color:#F5C19A;
  text-transform:uppercase;
}
.bullet-parag{
  font-family:"gotham-book", sans-serif;
  font-size:1.2em;
}


@media only screen and (max-width: 767px) {
  .king-wrapper{
    font-size:30px;
    text-align:center;
    margin:20px 0 0 0;
    &.text-right{
      text-align: center!important;
      margin: 0 auto;
    }
    &.text-center{
      margin:0 auto;
    }
  }
  .image-graph{
    width:100%;
  }
  /*
  .d-md-block{
    display:block!important;
  }
  */
  .graph-text{
    &.ml-5{
      margin-top:25px;
      margin-left:0!important;
      text-align:center;
    }
  }
  .banner-title{
    max-width: 90%;
    font-size: 1.6rem;
    margin: 0 auto;
  }
  .chart-wrapper{
    margin:20px auto 0 auto;
    width:90%;
  }
  .filler{
    padding-top:30%;
  }
  .chart-title{
    max-width:90%;
    margin:0 auto 10px auto;
  }
  .bullet-parag-wrapper.my-5{
    margin-top:0.9rem!important;
    margin-bottom:1.4rem!important;
  }
  .bullet-title{
    margin-bottom:0!important;
  }
}
