@import './parts/first-slide';
@import '../common/parts/fonts';
@import '../common/parts/colors';
@import './parts/responsive';

.manhattan-bg{
  background-color: $salmon;
}

body{
  font-size:13px;
  font-family:'gotham-book', serif!important;
}
.background-image{
  background-position:center;
}

header{
  position:fixed!important;
}
.footer.show{
  background-color:rgba(255,255,255,0.5);
  z-index:1;
  box-shadow:10px 10px 15px #000000;
}

.title-first{
  font-size:40px;
  .title{
    display:block;
    line-height:0.8;
    font-size:2em;
    &.title-l-1{
      font-size:2.3em;
    }
    &.title-l-2{
      font-size:3.7em;
    }
    &.title-l-3{
      font-size:3.3em;
    }
    &.title-l-4{
      font-size:1.4em;
    }
  }
}
.text-container{
  padding-top:2rem;
  font-size:1rem;
}

.key-number{
  font-family:"gotham-narrow-medium", sans-serif!important;
  font-size:2.5em;
  line-height:1.2em;
}

.key-parag{
  font-size:1.7em;
}

.headline{
  font-size:2em;
  text-transform:uppercase;
}
.emphasis{
  font-size:2em;
}

.bubble-image{
  display: block;
  max-height: 150px;
}
.phone-container{

}

.phone-img{
  display:block;
  max-height:60vh;
}
.phone-text{
  font-family:"gotham-medium", sans-serif!important;
}
.phone-baseline{
  font-family:"gotham-medium", sans-serif!important;
  text-align:center;
  margin-top:50px;
}
.quote-block{
  padding:20px 0 0 20px;
  &:before{
    content: '“';
    position:absolute;
    top:0;
    left:0;
    font-size: 10em;
    line-height: 1;
  }
  font-size:18px;
  position:relative;
  .quote-text{
    font-size:1.1em;
  }
  .emphasis{
    font-size:2.5em;
  }
}
.graph-image{
  display:block;
  width:100%;
}
.percent-line-wrapper{
  &:nth-child(1){
    .percent-number-wrapper, .percent-bar:after{
      transition-delay: 0.5s;
    }
  }
  &:nth-child(2){
    .percent-number-wrapper, .percent-bar:after{
      transition-delay: 0.7s;
    }
  }
  &:nth-child(3){
    .percent-number-wrapper, .percent-bar:after{
      transition-delay: 0.9s;
    }
  }
  &:nth-child(4){
    .percent-number-wrapper, .percent-bar:after{
      transition-delay: 1.1s;
    }
  }
  &:nth-child(5){
    .percent-number-wrapper, .percent-bar:after{
      transition-delay: 1.3s;
    }
  }
  &:nth-child(6){
    .percent-number-wrapper, .percent-bar:after{
      transition-delay: 1.5s;
    }
  }
  min-height:70px;
  margin:0 0 15px 0;
  .percent-line-title{
    margin:0;
    width:250px;
    display:inline-block;
    padding:10px 20px;
    position:relative;
  }
  .percent-bar{
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    z-index:-1;
    &:after{
      width:0%;
      content:"";
      display:block;
      height:100%;
      background-color:#F5C19A;
      transition-duration:1.5s;
    }
  }
  .percent-number-wrapper{
    margin:0 20px 0 0;
    text-align:right;
    min-width:50px;
    color:#000000;
    opacity:0;
    transition-duration:0.3s;
  }
}
.visible{
  .percent-line-wrapper{
   .percent-bar{
     &:after{
      width:100%;
    }
  }
  .percent-number-wrapper{
    opacity:1;
  }
 }
}
.key-text{
  font-family: "gotham-medium", sans-serif;
}
.top-arrow{
  background-color:$salmon;
  position:relative;
  width:300px;
  &:before, &:after{
    position:absolute;
    content:"";
    display:inline-block;
    height:0;
    width: 0;
    top:0;
  }
  &:before{
    left:0;
    border-top: 10px solid #FFFFFF;
    border-right: 150px solid transparent;
  }
  &:after{
    right:0;
    border-top: 10px solid #FFFFFF;
    border-left: 150px solid transparent;
  }
}
.top-arrow{
  height:60px;
}

.technical-text{
  min-height:80px;
}

/*SVG*/
.visible{
  .progress-circle-wrapper{transition-delay:0!important;}
  .progress-circle-wrapper{
    &:nth-child(1) {
      circle:last-of-type{
        stroke-dashoffset: -75;
      }
    }
    &:nth-child(2) {
      circle:last-of-type{
        stroke-dashoffset: -58;
      }
    }
    &:nth-child(3) {
      circle:last-of-type{
        stroke-dashoffset: -58;
      }
    }
    &:nth-child(4) {
      circle:last-of-type{
        stroke-dashoffset: -48;
      }
    }
    &:nth-child(5) {
      circle:last-of-type{
        stroke-dashoffset: -30;
      }
    }
    &:nth-child(6) {
      circle:last-of-type{
        stroke-dashoffset: -20;
      }
    }
  }
  .svg-cont{
    &:after{
      opacity:1;
    }
  }
}
.technical-headline {
  margin:80px 0 20px 0;
}
.progress-circle-wrapper{
  margin:0 0 2px 0;
  &:nth-child(1) {
    .svg-cont:after, circle:last-of-type{
      transition-delay:0.2s;
    }
  }
  &:nth-child(2) {
    .svg-cont:after, circle:last-of-type{
      transition-delay:0.4s;
    }
  }
  &:nth-child(3) {
    .svg-cont:after, circle:last-of-type{
      transition-delay:0.6s;
    }
  }
  &:nth-child(4) {
    .svg-cont:after, circle:last-of-type{
      transition-delay:0.8s;
    }
  }
  &:nth-child(5) {
    .svg-cont:after, circle:last-of-type{
      transition-delay:1.0s;
    }
  }
  &:nth-child(6) {
    .svg-cont:after, circle:last-of-type{
      transition-delay:1.2s;
    }
  }
}

@media only screen and (max-width: 767px) {
  .technical-headline.headline{
    margin:100px 0 0 0;
    font-size:15px;
  }
  .headline{
    font-size:1.3em;
    .emphasis{
      font-size:0.9em;
    }
  }
}
.svg-circle circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #f5c19a;
  stroke-width: 10px;
  &:last-of-type{
    stroke-dashoffset:0;
    transition-delay:1s;
  }
}
.svg-circle .svg-bar {
  stroke: #fbebdf;
  stroke-dashoffset: 0;
}
.svg-cont {
  transform: rotate(270deg);
  margin: 0 2em 0 0;
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  position: relative;
  &:after{
    transition-duration:0.3s;
    opacity:0;
    position:absolute;
    content: attr(data-pct)"%";
    display:block;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%) rotate(90deg);
  }
}
