
$grey-line: #cccccc;
$box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
$table-head-bg: #9e9e9e;
$table-head-text: #dedede;
$salmon: #000;

$grey-text: #000000;
$grey-text3: #353535;

/*NEW COLORS*/
$bleachedcoral: #f4f8fb;
$deepblue: #4D6995;
$manhattan: #000;

/*
mais en gros sinon tu aurais un blanc glacé et un bleu plus foncé pour les couleurs de background

on garderait le saumon pour les mots, comme on le fait aujourd'hui
*/
