@import 'colors';


h5{
  font-size:2.2rem!important;
  font-family:'gotham-medium', 'Arial', sans-serif;
  margin-bottom:0!important;
}
p{
  margin-bottom:0!important;
  font-size:0.9rem;
}
.border-left-color{
  border-color: $salmon;
  border-width: 0 0 0 4px;
  border-style: solid;
  padding: 0 0 0 20px;
}
.border-right-color{
  border-color: $salmon;
  border-width: 0 4px 0 0;
  border-style: solid;
  padding: 0 0 0 20px;
}
.text-container{
  padding-top:4rem
}

.adpreview{
  .color1{
    color:$grey-text;
  }
  .bleft{
    border-left:1px solid $grey-text;
    padding-left:2rem;
  }
  .bgcolor3{
    background-color: $grey-text;
    color:#FFFFFF;
    text-transform:uppercase;
  }
}
@media only screen and (max-width: 767px) {
  .adpreview{
    padding:25px 50px 0px 50px !important;
  }
  .tech-bullet{
    font-size:0.8em;
  }
}

.tuppercase{
  text-transform:uppercase;
}

.story{
  .color1{
    color:$grey-text;
  }
  .bleft{
    border-left:1px solid $grey-text;
    padding-left:2rem;
  }
  .bgcolor3{
    background-color: $grey-text;
    color:#FFFFFF;
    text-transform:uppercase;
    &.thead{
      .th{
        border-bottom:0px;
      }
    }
  }
}


.full-height{
  height:100%;
}

.container{
  margin-top:3rem;
}
.image-center{
  img{
    display:block;
    margin:0 auto;
    width:100%;
    max-width:500px;
  }
}
header{
  a{
    margin-left:32px;
    &:hover{
      text-decoration:none!important;
    }
  }
}

.dots li a:before{
  transition-duration:0.3s;
  border:1px solid #FFFFFF;
  background-color: rgba(245, 193, 154, 0.3)!important
}
.dots li a.active:before{
  background-color: rgba(245, 193, 154, 0.5)!important
}


.anchor-wrapper{
  a{
    width:100%;
    margin-bottom:3rem;
  }
}
.text-color-s{
  color:$salmon;
}
.image-schema{
  overflow:hidden;
  box-shadow:1px 1px 10px rgba(0,0,0,0.5);
}
.colorgrey{
  color:$grey-text;
}
.custom-table.table{
  font-size:0.7rem;
  overflow: hidden;
  td{
    border-top:0;
  }
}
a{
  color:inherit;
  &:visited{
    color:inherit;
  }
}

.adpreview-text{
  & > p{
    padding-left:2rem;
  }
  h5{
    color: $grey-text;
  }
}

.story-text{
  & > p{
    padding-left:2rem;
  }
  h5{
    color: $grey-text;
  }
}

.padding-container{
  padding:0px 40px 40px 40px!important;
}

@media only screen and (max-width: 767px) {
  .partner-wrapper.d-flex {
    display:block!important;
  }
}


.partner-logo{
  display:block;
  width:100%;
  height:auto;
}
