
.manhattan-text{
  color:#F5C19A;
}
.white-text{
  color:#FFFFFF!important;
}
.gotham-book{
  font-family: 'gotham-book', arial, sans-serif;
}

.gotham-medium{
  font-family: 'gotham-medium', arial, sans-serif;
}
