.bubule{
    display: flex;
    padding: 15px;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    & > * {
        margin:10px;
        padding: 15px;
        cursor: pointer;
        font-size: 14px;
    }
}

  .bubule_texte{
    text-align: center;
    color:#c1cbcf;
    margin-top: 10%;
    font-family: "OpenSans-SemiBold", sans-serif;
  }
  
  .bubule1{
    background-image:url(../image/travel.jpg);
    background-size: cover;
    cursor: pointer;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
  }
  
  .bubule2{
    background-image:url(../image/fashion.jpg);
    background-size: cover;
    cursor: pointer;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
  }
  
  .bubule3{
    background-image:url(../image/food.jpg);
    background-size: cover;
    cursor: pointer;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
  }
  
  .bubule4{
    background-image:url(../image/car.jpg);
    background-size: cover;
    cursor: pointer;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
  }
  
  .bubule5{
   background-image:url(../image/tech.jpg);
   background-size: cover;
   cursor: pointer;
   overflow:hidden;
   -webkit-border-radius:50px;
   -moz-border-radius:50px;
   border-radius:50px;
   width:90px;
   height:90px;
  }
  
  .bubule6{
    background-image:url(../image/woman.jpg);
    background-size: cover;
    cursor: pointer;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
  }
  
  .bubule7{
    background-image:url(../image/healthy.jpg);
    background-size: cover;
    cursor: pointer;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
  }
  
  .bubule8{
    background-image:url(../image/sport.jpg);
    background-size: cover;
    cursor: pointer;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
  }