@import 'mixins';

.bubule{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    width: 90%;
    & > * {
        margin:10px;
        padding: 15px;
        cursor: pointer;
        font-size: 14px;
    }
  @media only screen and (max-width: 767px) {
    justify-content: flex-start;
    overflow-x: scroll;
    width:100%;
  }
}
.js-category{
    width:72px;
    height:72px;
    border-radius:50%;
    cursor: pointer;
    overflow:hidden;
}
.bubule_container{
  filter:grayscale(0);
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.disabled{
    filter:grayscale(1);
  }
}

  .bubule_texte{
    color:#c1cbcf;
    font-family: "OpenSans-SemiBold", sans-serif;
    margin-top: 10%;
    text-align: center;
    }

  #bubule1{
    @include bubule('../image/travel.jpg');
  }

  #bubule2{
    @include bubule('../image/fashion.jpg');
  }

  #bubule3{
    @include bubule('../image/food.jpg');

  }

  #bubule4{
    @include bubule('../image/car.jpg');
  }

  #bubule5{
   @include bubule('../image/tech.jpg');
  }

  #bubule6{
    @include bubule('../image/woman.jpg');
  }

  #bubule7{
    @include bubule('../image/healthy.jpg');
  }

  #bubule8{
    @include bubule('../image/sport.jpg');
  }

  @media only screen and (max-width: 767px) {
    .bubule_container .js-category{
      width:60px !important;
      height:60px !important;
    }
    .bubule_texte{font-size:12px;}
    .bubule > *{
      margin:10px 0;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .bubule_container .js-category{
      width:60px !important;
      height:60px !important;
    }
    .bubule_texte{font-size:12px;}
    .bubule > *{
      margin:10px 0;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .bubule_container .js-category{
      width:72px !important;
      height:72px !important;
    }
    .bubule_texte{font-size:12px;}
    .bubule > *{
      margin:10px 0;
    }
  }
