header{
  align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    flex:1 1 90%;
    width:90%;
    margin:0 auto;
  }

  li, a,{
    color:#edf0f1;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }

  .logo_header{
    cursor: pointer;
    border-radius:50px;
    height:90px;
    -moz-border-radius:50px;
    overflow:hidden;
   -webkit-border-radius:50px;
    width:90px;
    
   
  }

  .logo_title{
    flex: auto;
    font-family: "Montserrat-Bold", sans-serif;
    margin-left: 2%;
    
  }
  
  .nav_links{
    list-style: none;
  }
  
  .nav_links li{
    display: inline-block;
    padding: 0px 20px;
    width:70px;
  }
  
  
  .nav_links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav_links li a:hover {
    color:red;
  }

  @media only screen and (max-width: 767px) {
    header{
      flex:0;
      width:100%;
      padding:1em .5em;
    }
    .nav_links li{
      padding:0;
      width:auto;
    }
    .logo_header{
      width:72px;
      height:72px;
    }
    .logo_title{font-size:1.25em;}
  }