#main_container{padding:10px;}
.tile{
  background-color:#FFF;
  min-height:600px;
  padding:2px;
  width:20%;

  .inner-wrapper{
    height:100%;
    position:relative;
    width:100%;

    .thumbnail{
      display:block;
      height:auto;
      width:100%;
    }
    .logo{
      border-radius:50px;
      cursor: pointer;
      float: left;
      overflow:hidden;
      -webkit-border-radius:50px;
      -moz-border-radius:50px; 
      margin: 2%;
      width:62px;
      height:62px;
    }

    .text-wrapper{
      padding: 6% 0 0 0%;
    }

    .tile-title{
      color:#050C1C;
      font-family: "OpenSans-SemiBold", sans-serif;
      font-size: 14px;
      
    }

    .tile-category{
      color:#b2BEC3;
      font-family: "OpenSans-SemiBold", sans-serif;
      font-size: 12px;
    }

  }
  @media only screen and (max-width: 767px) {
    height:auto;
    width:100%;
    padding:10px;
  }
  @media only screen and (min-width: 1920px) {
    width:14%;
  }
}

