body{display:flex;}
#wrapper{
    background-color: #FFF;
    z-index: 1;
    transition-duration:0.3s;
    min-height: 100vh;
    position: static;
    display:flex;
    flex:1 0 100%;
    flex-direction: column;
    transition:flex .3s ease;
  }
  #wrapper.menu_visible{
    flex:1 0 80%;
  }
@media only screen and (max-width: 767px) {
  #wrapper{max-width: 100%}
    #wrapper.menu_visible{
      width:0;
      flex:0;
    }
}