<!doctype html>
<html>
	<head>
		<title>Go Go Gadget</title>
	</head>
	<body>

		<div class="filter-group filter-group--compound js-colors">
			<p class="filter-label">Country</p>
			<button data-value=""><span class="visuallyhidden">EN</span></button>
			<button data-value="red"><span class="visuallyhidden">FR</span></button>
			<button data-value="orange"><span class="visuallyhidden">ES</span></button>
			<button data-value="orange"><span class="visuallyhidden">IT</span></button>
			<button data-value="orange"><span class="visuallyhidden">DE</span></button>
		</div>

		<div class="filter-group filter-group--compound js-colors">
			<p class="filter-label">Format</p>
			<button data-value="green"><span class="visuallyhidden">SHOPPER</span></button>
			<button data-value="blue"><span class="visuallyhidden">REDIRECT</span></button>
			<button data-value="red"><span class="visuallyhidden">FORM</span></button>
			<button data-value="orange"><span class="visuallyhidden">CONTENT</span></button>
			<button data-value="orange"><span class="visuallyhidden">OFFER</span></button>
		</div>

		<div class="shape-shuffle-container js-shuffle shuffle" style="height: 850.516px; transition: height 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;">

			<div class="shape shape--circle shape--blue shuffle-item shuffle-item--visible" data-shape="circle" data-color="blue">
				<div class="aspect">
					<div class="aspect__inner">
						<div class="shape__space"></div>
					</div>
				</div>
			</div>

		<div class="shape shape--square shape--green shuffle-item shuffle-item--visible" data-shape="square" data-color="green">
				<div class="aspect">
					<div class="aspect__inner">
						<div class="shape__space"></div>
					</div>
				</div>
			</div>


		</div>

	</body>
</html>
