<!doctype html>
<html>
	<head>
		<title>Go Go Gadget</title>
	</head>
	<body>

		<div class="filter-group filter-group--compound js-colors">
			<p class="filter-label">Country</p>
			<button data-value=""><span class="visuallyhidden">EN</span></button>
			<button data-value="red"><span class="visuallyhidden">FR</span></button>
			<button data-value="orange"><span class="visuallyhidden">ES</span></button>
			<button data-value="orange"><span class="visuallyhidden">IT</span></button>
			<button data-value="orange"><span class="visuallyhidden">DE</span></button>
		</div>

		<div class="filter-group filter-group--compound js-shapes">
			<p class="filter-label">Format</p>
			<span class="ib">
				<input type="checkbox" value="shopper" id="cb-shopper"> 
				<label for="cb-shopper">SHOPPER</label>
			</span>
			<span class="ib">
				<input type="checkbox" value="redirect" id="cb-redirect"> 
				<label for="cb-redirect">REDIRECT</label>
			</span>
			<span class="ib">
				<input type="checkbox" value="form" id="cb-form"> 
				<label for="cb-form">FORM</label>
			</span>
			<span class="ib">
				<input type="checkbox" value="content" id="cb-content"> 
				<label for="cb-content">CONTENT</label>
			</span>
			<span class="ib">
				<input type="checkbox" value="offer" id="cb-offer"> 
				<label for="cb-offer">OFFER</label>
			</span>
		</div>

			<div class="shape-shuffle-container js-shuffle shuffle" style="height: 850.516px; transition: height 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;">

				<div class="shape shape--circle shape--blue shuffle-item shuffle-item--visible" data-shape="circle" data-color="blue">
					<div class="aspect">
						<div class="aspect__inner">
							<div class="shape__space"></div>
						</div>
					</div>
				</div>

				<div class="shape shape--square shape--green shuffle-item shuffle-item--visible" data-shape="square" data-color="green">
					<div class="aspect">
						<div class="aspect__inner">
							<div class="shape__space"></div>
						</div>
					</div>
				</div>


			</div>

	</body>
</html>
