


.first-slide{
  h1{
    color:#000000;
    font-family: "Eina01", Arial, sans-serif!important;
    font-size:4.25em;
    font-weight: 600;
  }
  h5{
    font-family: "Eina01", Arial, sans-serif;
    font-size:2.25em;
    font-weight: 600;
  }
}

.background-image{
  background-size:cover;
}
