/* Table of Contents

==================================================



    #Mobile - 240px

    #Mobile - 320px

    #Mobile - 480px

	#Tablet - 768px

	*/





/* #Mobile - 240px

================================================== */



@media only screen and (max-width: 319px) {}





/*  #Mobile - 320px

================================================== */



@media only screen and (min-width: 320px) and (max-width: 479px) {

}





/* #Mobile - 480px

================================================== */



@media only screen and (max-width: 767px) {
	.col,
	.row{flex:0 !important;}
	#main_demo .row{flex-direction: column;}
	#logos_container h5 {font-size:1.5em !important;}
	#logos_container nav {
		flex-wrap:wrap;
	}
	#right_part{width:100%;}
	#logos_container nav img{
		margin:10px;
		max-width:70px;
	}
	#copyrights{
		text-align: center;
		max-width: 70%;
		margin:0 auto 15px;
	}
	footer{
		height:100px;
	}
}







/* #Tablet - 768px

================================================== */

@media (min-width: 768px) {

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.col,
	.row{flex:0 !important;}
	#main_demo .row{flex-direction: column;}
	#right_part{width:100%;}
	header .logo-wrapper{margin:0 20px 0 0 !important;}
	#logo_title{margin-right:40px !important;}
	.entry-wrapper .menu_entry{
		font-size:.875em !important;
		margin-right: 15px !important;
	}
	#logos_container nav {
		flex-wrap:wrap;
	}
	#logos_container nav img{
		margin:10px;
		max-width:70px;
	}
	#copyrights{
		max-width:45%;
		flex:1 0 45%;
	}
	body{
		overflow-y:scroll;
		flex-direction: column;
	}
	.col{
		flex:1 0 100%;
		max-width:100%;
		padding:1em;
	}
	.container,
	form.container{
		flex:1 0 100%;
		max-width:100%;
	}
	#form_bottom .col{
		flex:1 0 50%;
		max-width:50%;
	}

	input[type="submit"]{
		width:50%;
		max-width:50%;
	}
	#left_part ul{
		flex:1 0 90%;
		max-width: 90%
	}
	#left_part ul span{
		font-size:.875em;
		max-width:80% !important;
	}




}

@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.col,
	.row{flex:0 !important;}
	#main_demo .row{flex-direction: column;}
	#right_part{width:100%;}
	#logos_container nav {
		flex-wrap:wrap;
	}
	#logos_container nav img{
		margin:10px;
		max-width:70px;
	}
	#copyrights{
		max-width:45%;
		flex:1 0 45%;
	}
  }



@media only screen and (max-width: 1279px) {
body{
		overflow-y:scroll;
		flex-direction: column;
	}
	.col{
		flex:1 0 100%;
		max-width:100%;
		padding:1em;
	}
	.container,
	form.container{
		flex:1 0 100%;
		max-width:100%;
	}
	#form_bottom .col{
		flex:1 0 50%;
		max-width:50%;
	}

	input[type="submit"]{
		width:50%;
		max-width:50%;
	}
	#left_part ul{
		flex:1 0 90%;
		max-width: 90%
	}
	#left_part ul span{
		font-size:.875em;
		max-width:80% !important;
	}
	#logos_container img{max-width:79px;}

}



@media only screen and (max-width: 767px) {
	body{
		overflow-y:scroll;
		flex-direction: column;
	}
	.col{
		flex:1 0 100%;
		max-width:100%;
		padding:1em;
	}
	.container,
	form.container{
		flex:1 0 100%;
		max-width:100%;
	}
	#form_bottom .col{
		flex:1 0 50%;
		max-width:50%;
	}

	input[type="submit"]{
		width:50%;
		max-width:50%;
	}
	#left_part ul{
		flex:1 0 90%;
		max-width: 90%
	}
	#left_part ul span{
		font-size:.875em;
		max-width:80% !important;
		text-align:left;
	}
	#logos_container img{max-width:79px;}

}

@media only screen and (max-width: 767px) and (orientation: landscape) {

}

@media (min-width: 992px) {



}

@media only screen and (min-width: 1024px) {
}






@media only screen and (max-width: 1345px) {


}



@media only screen and (max-width: 1279px) {}



@media only screen and (min-width: 1280px) and (max-width: 2000px){

}

@media only screen and (min-width: 1300px) and (max-width: 1500px){

}


@media only screen and (min-width: 1900px) {
	.col{padding:5em;}
	#logos_container img{max-width:120px;}
	.container{
		flex:1 0 70%;
		max-width:70%;
	}
	#right_part .typeform-widget{height:500px !important;}
	#logos_container nav{max-width: 99%;}
}
