@font-face {
  font-family: 'Eina01';
  src: url('../fonts/Eina01-Regular.eot');
  src: url('../fonts/Eina01-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Eina01-Regular.svg#Eina01-Regular') format('svg'),
       url('../fonts/Eina01-Regular.ttf') format('truetype'),
       url('../fonts/Eina01-Regular.woff') format('woff'),
       url('../fonts/Eina01-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Eina01';
  src: url('../fonts/Eina01-SemiBold.eot');
  src: url('../fonts/Eina01-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Eina01-SemiBold.svg#Eina01-SemiBold') format('svg'),
       url('../fonts/Eina01-SemiBold.ttf') format('truetype'),
       url('../fonts/Eina01-SemiBold.woff') format('woff'),
       url('../fonts/Eina01-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}



@font-face {
  font-family: 'Eina01';
  src: url('../fonts/Eina01-Bold.eot');
  src: url('../fonts/Eina01-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Eina01-Bold.svg#Eina01-Bold') format('svg'),
       url('../fonts/Eina01-Bold.ttf') format('truetype'),
       url('../fonts/Eina01-Bold.woff') format('woff'),
       url('../fonts/Eina01-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

header{
  position:fixed!important;
  background-color:rgba(255,255,255,0.2);
}

#left_part{
  padding-top:120px;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body,html{
	width:100%;
	min-height:100%;
	height:100%;
}

body{
	font-size:100%;
	font-family: 'Eina01', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight:400;
	color:#000;
	display:flex;
}


.center{text-align:center;}
.clear{clear:both;}

.last{
	margin-right:0 !important;
	margin-bottom:0 !important;
	border-right:none !important;
}

img{
	width:100%;
	height:auto;
	border:none;
}

a{
	text-decoration: none;
	border:none;
}

.col{
	display: flex;
	flex:1 0 50%;
	max-width:50%;
	padding:1em;
	justify-content: center;
	align-items: center;
}

header{
	position: fixed;
    z-index: 2;
    width: 100%;
}


#left_part{
	background:#FFFFFF;
}

.container{
	flex:1 0 85%;
	max-width:85%;
	margin:auto;
  font-weight: 600;
}

#left_part h1{
	font-size:3em;
	margin-bottom:10px;
}


#left_part ul{
	list-style: none;
	margin:1em auto;
	flex:1 0 80%;
	max-width: 80%;
}
#left_part ul li{
  line-height:1;
  margin:2em 0;
}
#left_part ul li:before{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:0;
	content:'';
	background:#000000;
	width:32px;
	height:32px;
	-webkit-mask: url(../../demo/images/check.svg) no-repeat 50% 50%;
	mask: url(../img/check.svg) no-repeat 50% 50%;
	-webkit-mask-size: cover;
	mask-size: cover;
	display: block;
}
#left_part ul li{
  padding:0 0 0 40px;
  position:relative;
  display:block;
  text-align:left;
}
#left_part ul li span{
  line-height:1.2;
	display:block;
	max-width:90%;
}
#logos_container{
	margin:1em 0;
	text-align:center;
}

.tech-slideshow {
  height:100px!important;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 87px;
  width: 1126px;
  background: url('../../images/brandlogo.png');
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  background-size:contain;
  animation: moveSlideshow 35s linear infinite;
  &.mover-2{
    animation: moveSlideshow2 35s linear infinite;
  }
}

@keyframes moveSlideshow {
  0% {
    transform:translateX(-0);
    opacity:1;
  }
  50% {
    transform: translateX(-1126px);
    opacity:1;
  }
  51% {
    transform: translateX(-1126px);
    opacity:0;
  }
  52% {
    transform: translateX(1126px);
    opacity:0,
  }
  53% {
    transform: translateX(1126px);
    opacity:1,
  }
}
@keyframes moveSlideshow2 {
  0%{
    transform:translateX(1126px);
    opacity:1;
  }
  100%{
    transform:translateX(-1126px);
    opacity:1;
  }
}


#logos_container span{
	text-transform: uppercase;
	margin:3em 2em;
  display:block;
}

form.container{
  margin-top:10px!important;
	display: flex;
	flex-direction: column;
	flex:1 0 50%;
	max-width:50%;
}

#right_part form label{
	font-weight:800;
}
#right_part form input{
	max-width: 100%;
	width:100%;
	height:32px;
	border:1px solid rgba(16,24,32,.1);
	border-radius: 5px;
	margin:1em 0;
	padding-left:1em;
	outline:none;
}
#form_bottom{display: flex;}
#form_bottom .col{
	padding:0;
	flex-direction: column;
	align-items: unset;
	justify-content: unset;
}
#form_bottom input[type="radio"]{
	width:32px;
	display: inline-block;
	vertical-align: middle;
}
#form_bottom .col div{
	display: flex;
	align-items: center
}
#form_bottom .col div label{margin-right:2em;}
#budget{max-width:60% !important;}

#right_part form input[type="submit"]{
	background:#000;
	color:#fff;
	text-transform: uppercase;
	font-family: 'Eina01';
	margin:3em auto;
	max-width: 40%;
	width:40%;
	padding:0;
}

footer{
	width:48px;
	height:48px;
	position:absolute;
	left:15px;
	bottom:15px;
}
