


.first-slide{
  h1{
    color:#000000;
    font-family: "Eina01", sans-serif!important;
    font-size:4rem;
  }
  h5{
    font-family: "Eina01", sans-serif;
  }
}

.background-image{
  background-size:cover;
}
