:root{
  --duration: 4s;
  --color:black;
  --background-color:white;
}

@font-face {
  font-family: Futura;
  src: url(fonts/Futura-book.eot);
  src: local('â˜º'),url(fonts/Futura-book.woff) format('woff'),url(fonts/Futura-book.ttf) format('truetype'),url(fonts/Futura-book.svg) format('svg');
  font-weight: 400;
  font-style: normal
}

body{
  font-family: Futura, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#adyoulike{
  font-size:22px;
  padding:5px 0px 0px 11px;
  box-sizing:border-box;
  color:var(--color);
  background-color:var(--background-color);
}

.ayl-logo{
  margin:5px 0;
}
.ayl-logo:first-of-type{
  margin:0px 0px 5px 0px;
}
.ayl-logo:last-of-type{
  margin:5px 0px 0px 0px;
}
#a, #y, #l{
  display:inline-block;
}

#geo-wrapper{
  position:absolute;
  top:49px;
  left:0px;
  padding:0 0 0 20px;
  font-size:16px;
  height: 30px;
  line-height: 30px;
  width:100%;
  box-sizing:border-box;
}
.geo{
  position:absolute;
}

#dot{
  position:absolute;
  bottom:10px;
  right:7px;
  width:3px;
  height:3px;
  background-color:var(--color);

}

@keyframes dot{
  0% { right:7px;bottom:10px;height:3px;width:3px;}
  6% { right:7px;bottom:10px;height:3px;width:3px }
  12% { right:7px;bottom:10px;height:3px;width:3px }
  18% { right:7px;bottom:10px;height:3px;width:3px }
  24% { right:7px;bottom:10px;height:3px;width:3px }
  30% { right:7px;bottom:10px;height:3px;width:3px }
  36% { right:7px;bottom:10px;height:3px;width:3px }
  42% { right:7px;bottom: 38px;height:12px;width:2px }
  48% { right:93px;bottom: 38px;height:12px;width:2px }
  54% { right:93px;bottom: 38px;height:12px;width:2px }
  60% { right:93px;bottom: 38px;height:12px;width:2px }
  66% { right:93px;bottom: 38px;height:12px;width:2px }
  72% { right:93px;bottom: 38px;height:12px;width:2px }
  78% { right:93px;bottom: 38px;height:12px;width:2px }
  84% { right:93px;bottom: 38px;height:12px;width:2px }
  90% { right:93px;bottom: 38px;height:12px;width:2px }
  95% { right:7px;bottom: 38px;height:12px;width:2px }
  100% { right:7px;bottom:10px;height:3px;width:3px }
}

#dot{
  animation: dot var(--duration) infinite;
  animation-timing-function: ease;
}

@keyframes opac{
  0% { opacity: 1; }
  6% { opacity: 1; }
  12% { opacity: 1; }
  18% { opacity: 1; }
  24% { opacity: 1; }
  30% { opacity: 1; }
  36% { opacity: 1; }
  42% { opacity: 0; }
  48% { opacity: 0; }
  54% { opacity: 0; }
  60% { opacity: 0; }
  66% { opacity: 0; }
  72% { opacity: 0; }
  78% { opacity: 0; }
  84% { opacity: 0; }
  90% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}
.hide{
  animation: opac var(--duration) infinite;
  animation-timing-function: ease;
}

@keyframes A{
  0% { transform:translateX(0%) translateY(0%) }
  6% { transform:translateX(0%) translateY(0%) }
  12% { transform:translateX(0%) translateY(0%) }
  18% { transform:translateX(0%) translateY(0%) }
  24% { transform:translateX(0%) translateY(0%) }
  30% { transform:translateX(0%) translateY(0%) }
  36% { transform:translateX(0%) translateY(0%) }
  42% { transform:translateX(0%) translateY(50%)  }
  48% { transform:translateX(0%) translateY(50%) }
  54% { transform:translateX(0%) translateY(50%) }
  60% { transform:translateX(0%) translateY(50%) }
  66% { transform:translateX(0%) translateY(50%) }
  72% { transform:translateX(0%) translateY(50%) }
  78% { transform:translateX(0%) translateY(50%) }
  84% { transform:translateX(0%) translateY(50%) }
  90% { transform:translateX(0%) translateY(50%) }
  95% { transform:translateX(0%) translateY(50%)  }
  100% { transform:translateX(0%) translateY(0%) }
}
#a {
  animation: A var(--duration) infinite;
  animation-timing-function: ease;
}


@keyframes Y{
  0% { transform:translateX(0%) translateY(0%) }
  6% { transform:translateX(0%) translateY(0%) }
  12% { transform:translateX(0%) translateY(0%) }
  18% { transform:translateX(0%) translateY(0%) }
  24% { transform:translateX(0%) translateY(0%) }
  30% { transform:translateX(0%) translateY(0%) }
  36% { transform:translateX(0%) translateY(0%) }
  42% { transform:translateX(74%) translateY(-67%)  }
  48% { transform:translateX(74%) translateY(-67%) }
  54% { transform:translateX(74%) translateY(-67%) }
  60% { transform:translateX(74%) translateY(-67%) }
  66% { transform:translateX(74%) translateY(-67%) }
  72% { transform:translateX(74%) translateY(-67%) }
  78% { transform:translateX(74%) translateY(-67%) }
  84% { transform:translateX(74%) translateY(-67%) }
  90% { transform:translateX(74%) translateY(-67%) }
  95% { transform:translateX(74%) translateY(-67%)  }
  100% { transform:translateX(0%) translateY(0%) }
}
#y {
  animation: Y var(--duration) infinite;
  animation-timing-function: ease;
}

@keyframes L{
  0% { transform:translateX(0%) translateY(0%) }
  6% { transform:translateX(0%) translateY(0%) }
  12% { transform:translateX(0%) translateY(0%) }
  18% { transform:translateX(0%) translateY(0%) }
  24% { transform:translateX(0%) translateY(0%) }
  30% { transform:translateX(0%) translateY(0%) }
  36% { transform:translateX(0%) translateY(0%) }
  42% { transform:translateX(108%) translateY(-184%) }
  48% { transform:translateX(108%) translateY(-184%)}
  54% { transform:translateX(108%) translateY(-184%)}
  60% { transform:translateX(108%) translateY(-184%)}
  66% { transform:translateX(108%) translateY(-184%)}
  72% { transform:translateX(108%) translateY(-184%)}
  78% { transform:translateX(108%) translateY(-184%)}
  84% { transform:translateX(108%) translateY(-184%)}
  90% { transform:translateX(108%) translateY(-184%) }
  95% { transform:translateX(108%) translateY(-184%) }
  100% { transform:translateX(0%) translateY(0%) }
}

#l{
  animation: L var(--duration) infinite;
  animation-timing-function: ease;
}

@keyframes geo1{
  0% { opacity:0; transform:translateY(-80%) }
  6% { opacity:0; transform:translateY(-80%) }
  12% { opacity:0; transform:translateY(-80%) }
  18% { opacity:0; transform:translateY(-80%) }
  24% { opacity:0; transform:translateY(-80%) }
  30% { opacity:0; transform:translateY(-80%) }
  36% { opacity:0; transform:translateY(-80%) }
  42% { opacity:0; transform:translateY(-80%) }
  48% { opacity:1; transform:translateY(0%) }
  54% { opacity:0; transform:translateY(80%) }
  60% { opacity:0; transform:translateY(80%) }
  66% { opacity:0; transform:translateY(80%) }
  72% { opacity:0; transform:translateY(80%) }
  78% { opacity:0; transform:translateY(80%) }
  84% { opacity:0; transform:translateY(80%) }
  90% { opacity:0; transform:translateY(80%) }
  95% { opacity:0; transform:translateY(80%) }
  100% { opacity:0; transform:translateY(80%) }
}

#geo1{
  animation: geo1 var(--duration) infinite;
  animation-timing-function: ease;
}


@keyframes geo2{
  0% { opacity:0; transform:translateY(-80%) }
  6% { opacity:0; transform:translateY(-80%) }
  12% { opacity:0; transform:translateY(-80%) }
  18% { opacity:0; transform:translateY(-80%) }
  24% { opacity:0; transform:translateY(-80%) }
  30% { opacity:0; transform:translateY(-80%) }
  36% { opacity:0; transform:translateY(-80%) }
  42% { opacity:0; transform:translateY(-80%) }
  48% { opacity:0; transform:translateY(-80%) }
  54% { opacity:1; transform:translateY(0%) }
  60% { opacity:0; transform:translateY(80%) }
  66% { opacity:0; transform:translateY(80%) }
  72% { opacity:0; transform:translateY(80%) }
  78% { opacity:0; transform:translateY(80%) }
  84% { opacity:0; transform:translateY(80%) }
  90% { opacity:0; transform:translateY(80%) }
  95% { opacity:0; transform:translateY(80%) }
  100% { opacity:0; transform:translateY(80%) }
}

#geo2{
  animation: geo2 var(--duration) infinite;
  animation-timing-function: ease;
}

@keyframes geo3{
  0% { opacity:0; transform:translateY(-80%) }
  6% { opacity:0; transform:translateY(-80%) }
  12% { opacity:0; transform:translateY(-80%) }
  18% { opacity:0; transform:translateY(-80%) }
  24% { opacity:0; transform:translateY(-80%) }
  30% { opacity:0; transform:translateY(-80%) }
  36% { opacity:0; transform:translateY(-80%) }
  42% { opacity:0; transform:translateY(-80%) }
  48% { opacity:0; transform:translateY(-80%) }
  54% { opacity:0; transform:translateY(-80%) }
  60% { opacity:1; transform:translateY(0%) }
  66% { opacity:0; transform:translateY(80%) }
  72% { opacity:0; transform:translateY(80%) }
  78% { opacity:0; transform:translateY(80%) }
  84% { opacity:0; transform:translateY(80%) }
  90% { opacity:0; transform:translateY(80%) }
  95% { opacity:0; transform:translateY(80%) }
  100% { opacity:0; transform:translateY(80%) }
}

#geo3{
  animation: geo3 var(--duration) infinite;
  animation-timing-function: ease;
}

@keyframes geo4{
  0% { opacity:0; transform:translateY(-80%) }
  6% { opacity:0; transform:translateY(-80%) }
  12% { opacity:0; transform:translateY(-80%) }
  18% { opacity:0; transform:translateY(-80%) }
  24% { opacity:0; transform:translateY(-80%) }
  30% { opacity:0; transform:translateY(-80%) }
  36% { opacity:0; transform:translateY(-80%) }
  42% { opacity:0; transform:translateY(-80%) }
  48% { opacity:0; transform:translateY(-80%) }
  54% { opacity:0; transform:translateY(-80%) }
  60% { opacity:0; transform:translateY(-80%) }
  66% { opacity:1; transform:translateY(0%) }
  72% { opacity:0; transform:translateY(80%) }
  78% { opacity:0; transform:translateY(80%) }
  84% { opacity:0; transform:translateY(80%) }
  90% { opacity:0; transform:translateY(80%) }
  95% { opacity:0; transform:translateY(80%) }
  100% { opacity:0; transform:translateY(80%) }
}

#geo4{
  animation: geo4 var(--duration) infinite;
  animation-timing-function: ease;
}

@keyframes geo5{
  0% { opacity:0; transform:translateY(-80%) }
  6% { opacity:0; transform:translateY(-80%) }
  12% { opacity:0; transform:translateY(-80%) }
  18% { opacity:0; transform:translateY(-80%) }
  24% { opacity:0; transform:translateY(-80%) }
  30% { opacity:0; transform:translateY(-80%) }
  36% { opacity:0; transform:translateY(-80%) }
  42% { opacity:0; transform:translateY(-80%) }
  48% { opacity:0; transform:translateY(-80%) }
  54% { opacity:0; transform:translateY(-80%) }
  60% { opacity:0; transform:translateY(-80%) }
  66% { opacity:0; transform:translateY(-80%) }
  72% { opacity:1; transform:translateY(0%) }
  78% { opacity:0; transform:translateY(80%) }
  84% { opacity:0; transform:translateY(80%) }
  90% { opacity:0; transform:translateY(80%) }
  95% { opacity:0; transform:translateY(80%) }
  100% { opacity:0; transform:translateY(80%) }
}

#geo5{
  animation: geo5 var(--duration) infinite;
  animation-timing-function: ease;
}

@keyframes geo6{
  0% { opacity:0; transform:translateY(-80%) }
  6% { opacity:0; transform:translateY(-80%) }
  12% { opacity:0; transform:translateY(-80%) }
  18% { opacity:0; transform:translateY(-80%) }
  24% { opacity:0; transform:translateY(-80%) }
  30% { opacity:0; transform:translateY(-80%) }
  36% { opacity:0; transform:translateY(-80%) }
  42% { opacity:0; transform:translateY(-80%) }
  48% { opacity:0; transform:translateY(-80%) }
  54% { opacity:0; transform:translateY(-80%) }
  60% { opacity:0; transform:translateY(-80%) }
  66% { opacity:0; transform:translateY(-80%) }
  72% { opacity:0; transform:translateY(-80%) }
  78% { opacity:1; transform:translateY(0%) }
  84% { opacity:0; transform:translateY(80%) }
  90% { opacity:0; transform:translateY(80%) }
  95% { opacity:0; transform:translateY(80%) }
  100% { opacity:0; transform:translateY(80%) }
}

#geo6{
  animation: geo6 var(--duration) infinite;
  animation-timing-function: ease;
}


@keyframes geo7{
  0% { opacity:0; transform:translateY(-80%) }
  6% { opacity:0; transform:translateY(-80%) }
  12% { opacity:0; transform:translateY(-80%) }
  18% { opacity:0; transform:translateY(-80%) }
  24% { opacity:0; transform:translateY(-80%) }
  30% { opacity:0; transform:translateY(-80%) }
  36% { opacity:0; transform:translateY(-80%) }
  42% { opacity:0; transform:translateY(-80%) }
  48% { opacity:0; transform:translateY(-80%) }
  54% { opacity:0; transform:translateY(-80%) }
  60% { opacity:0; transform:translateY(-80%) }
  66% { opacity:0; transform:translateY(-80%) }
  72% { opacity:0; transform:translateY(-80%) }
  78% { opacity:0; transform:translateY(-80%) }
  84% { opacity:1; transform:translateY(0%) }
  90% { opacity:0; transform:translateY(80%) }
  95% { opacity:0; transform:translateY(80%) }
  100% { opacity:0; transform:translateY(80%) }
}

#geo7{
  animation: geo7 var(--duration) infinite;
  animation-timing-function: ease;
}

@keyframes geo8{
  0% { opacity:0; transform:translateY(-80%) }
  6% { opacity:0; transform:translateY(-80%) }
  12% { opacity:0; transform:translateY(-80%) }
  18% { opacity:0; transform:translateY(-80%) }
  24% { opacity:0; transform:translateY(-80%) }
  30% { opacity:0; transform:translateY(-80%) }
  36% { opacity:0; transform:translateY(-80%) }
  42% { opacity:0; transform:translateY(-80%) }
  48% { opacity:0; transform:translateY(-80%) }
  54% { opacity:0; transform:translateY(-80%) }
  60% { opacity:0; transform:translateY(-80%) }
  66% { opacity:0; transform:translateY(-80%) }
  72% { opacity:0; transform:translateY(-80%) }
  78% { opacity:0; transform:translateY(-80%) }
  84% { opacity:0; transform:translateY(-80%) }
  90% { opacity:1; transform:translateY(0%) }
  95% { opacity:0; transform:translateY(80%) }
  100% { opacity:0; transform:translateY(80%) }
}

#geo8{
  animation: geo8 var(--duration) infinite;
  animation-timing-function: ease;
}
